/* index.css or App.css */
@font-face {
  font-family: 'Cairo';
  src: url('../Assets/fonts/Cairo-Regular.woff2') format('woff2'),
       url('../Assets/fonts/Cairo-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
   /* display: flex;
  justify-content: center;  */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cairo',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #0077b630;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(59, 33, 33, 0.1);
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spinner-large {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.spinner-small {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}
textarea:focus, input:focus {
  border-color: #6366f1;
  background: #fff;
  outline: none;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.15);
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: 2px dashed #4caf50;
  border-radius: 12px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: #777;
  bottom: 0;
}

.btns-social{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-social{
  background-color: transparent;
  margin-top: 0;
  cursor: pointer;
}

.btn-insta:hover{
  background-color:#b600a445;
}
.btn-mail:hover{
  background-color:#647d8a45;
}
.btn-mess:hover{
  background-color:#0076b645;
}
.btn-whats:hover{
  background-color:#06b60045;
}