@import "./variables.css";


.mechy-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    font-family: "cairo";
    gap: 25px;
    overflow-y: auto;
    height: 95dvh;
    padding: 30px;
    background: var(--bg1);
    color: var(--white);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.part1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
}

.txt-generator{
  display: flex;
  flex-direction: column;
}

textarea{
    font-family: "cairo";
    padding: 12px 15px;
    margin:  15px;
    border-radius:8px;
    border: 1px solid var(--inputBorder);
    min-width: 90%;
    max-width: 100%;
    min-height: 50%;
    font-size: 18px;
    font-weight: 200;
    outline: none;
    transition: 0.2s all;
}

  .upload-box {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  /* .upload-box:hover {
    background: #222;
  }
   */

  .btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }