/* .home-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
  } */

  .preview-card{
    border: 2px solid var(--inputBorder);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--inputInfillFocus);
    margin-block-end: 10px;
    font-family: 'jazeera';
    white-space: pre-line;
  }

  .preview-img{
    max-width: 50%;
    max-height: 50%;
    border-radius: 10px;
    margin-block: 10px;
  }

  .preview-card-image{
    display: flex;
    justify-content: center;
  }

  .preview-card-extra{
    max-width: 90dvw;
  }
  
  /* For screens 1200px and smaller */
  @media (max-width: 1200px) {
    .preview-img{
      max-width: 90%;
      max-height: 90%;
    }
  
    .preview-card {
      max-width: 100%; /* make cards stretch */
    }
  
    .preview-card-title {
      font-size: 1.1rem;
    }
    
    .preview-card-extra
    {
      margin-block-end: 10px;
    }
  }
  