.quantity-container {
    display: flex;
    align-items: center;
    justify-items: center;
    /* border: 1px solid #ddd; */
    border-radius: 6px;
    overflow: hidden;
    width: fit-content;
  }
  
  .quantity-btn {
    display: flex;      
    justify-content: center;
    align-items: center;
    /* background: #f9f9f9; */
    border: 2px solid var(--c1);
    margin: 8px 12px !important;
    cursor: pointer;
    font-size: 18px;
    max-width: 20px !important; 
    max-height: 20px !important;
    color: var(--white);
    padding: 15px;
  }
  
  .quantity-btn:hover {
    background: var(--c1);
  }
  
  .quantity-value {
    max-width: 40px;
    text-align: center;
    font-size: 18px;
    /* border-left: 1px solid #ddd;
    border-right: 1px solid #ddd; */
    padding: 8px;
  }
  