:root {

  --c1: #6a4dff;
  --c2: #5143dd;
  --c3: #6d5fff;
  --holder: #0d0d33;
  --inputInfill: #0e0e25;
  --inputBorder: #36363e;
  --white: #ffffff;
  --bg: #0d0d33;
  --bg1: #18184a;
  --inputInfillFocus: #282850;
  --ccc: #ccc;
  --999: #999;

  }
  